body {
  margin: 0;
  max-height: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-group{
padding: 10px;
margin: 10px;
}

.mainbox{
  position: relative;
  padding-top: 5%;
}

#newaccount{
  margin-top: 40px;
}

#newaccount-register{
  margin-top: 40px;
}

#imageFromUser{
  margin-top: 0px;
}

#selectImage{
  margin-bottom: 0px;
  margin-right: 70%;
}

#fileLoad{
  margin-top: 0px;
  padding-top: 0px ;
}

.container{
  max-width: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


body, html {
  height: 100%;
  overflow-x: hidden;
}

#root{
  height: 100%;
}

.nav-item{
  margin-right: 10%;
  margin-left: 10%;
}

#leftChat{
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#rightChat{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.imagesms{
  max-height: 150px;
}

#ContactsRow{
  height: 100%;
}

#inputMessage{
  max-width: 63%;
  position:fixed;
  bottom: 0px;
}

#massageBox{
  
}


.massageCardAccepted{
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.messageCardSent{
  margin-right: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}